/* .list, */
/* .menu {
  display: none;
} */
.button {
  display: none;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3.5px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #f0f0fd; */
  background: rgb(255 255 255 / 98%);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 2;
}
.container {
  margin: 0px 18px;
  padding: 0px 15px;
}

.header_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(49, 69, 132);
  font-weight: 600;
  margin: 0px -15px;
  position: relative;
  height: 65px;
}

.select select {
  font-size: 18px;
  font-weight: 600;
  color: #314584;
  margin-right: 3px;
  border: 0;
  appearance: none;
}
.select::after {
  content: "";
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #314584 transparent transparent transparent;
  position: relative;
  top: 15px;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 110px 10px 0px 10px;
    transition: all 0.3s ease;
  }
  .select {
    margin-top: 35px;
  }
  .select select {
    font-size: 24px;
    font-weight: 600;
    color: #314584;
    margin-right: 3px;
    border: 0;
    appearance: none;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list li {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .menu.active {
    top: 0;
  }

  body.lock {
    overflow: hidden;
  }
}
.logo {
  margin: 0;
  position: relative;
  z-index: 3;
  padding-right: 15px;
  padding-left: 15px;
}

.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
}

.burger span {
  position: absolute;
  background-color: #314584;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 14px;
  transition: all 0.3s ease;
}

.burger:before,
.burger::after {
  content: "";
  background-color: #314584;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active:before {
  transform: rotate(45deg);
  top: 13px;
}

.burger.active:after {
  transform: rotate(-45deg);
  bottom: 13px;
}

.content {
  padding: 70px 10px 0px 10px;
  margin: 15px 0px 40px 0px;
}

.content_container {
  padding: 0px 15px;
}
.row {
  display: flex;
  flex-direction: column;
}
.titles {
  margin-top: 98px;
  text-align: center;
}

.titles h2 {
  color: #314584;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.2;
}

.titles p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  color: #6e757a;
  font-weight: 400;
}

.titles .btn {
  font-size: 18px;
  font-weight: 600;
}

.more_btn {
  margin-right: 15px;
  padding: 15px 28px;
  background-color: #ff3946;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #ff3946;
  display: inline-block;
}
.more_btn:hover {
  background-color: #fff;
  color: #6e757a;
}
.get_touch_btn {
  padding: 8px 25px;
}

.vector {
  margin: 35px 0px;
}
.vector img {
  max-width: 100%;
}
.creative_work_text {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 24px;
  max-width: 294px;
  font-weight: 600;
  line-height: 1.2;
  color: #314584;
}

.swiper_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper_button_next,
.swiper_button_prev {
  display: none;
}

.slides {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.slide {
  margin-top: 20px;
}

.slide img {
  max-width: 100%;
}
.see_more {
  margin-top: 30px;
  text-align: center;
}
.see_more .text {
  color: #ff3946;
  font-size: 16px;
  font-weight: 600;
}

.contact_area {
  margin-top: 50px;
}

.contact_area span {
  color: #ff3946;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}
.contact_area h3 {
  line-height: 1.2;
  font-size: 25px;
  font-weight: 600;
  color: #314584;
}

.form {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form .input_box {
  font-weight: 100;
}

.same {
  margin-top: 30px;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0px 15px;
}

.same .email {
  width: 100%;
  border: 1.5px solid #ff000000;
  color: #314584;
  font-weight: 500;
  padding: 9px 10.5px;
  background-color: #4073f616;
}

.same .subject {
  width: 100%;
  border: 1.5px solid #ff000000;
  color: #314584;
  font-weight: 500;
  padding: 9px 10.5px;
  background-color: #4073f616;
}

.message {
  margin-top: 30px;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0px 15px;
}

.message textarea {
  overflow: auto;
  resize: vertical;
}

.message .textarea {
  width: 100%;
  border: 1.5px solid #ff000000;
  color: #314584;
  font-weight: 500;
  padding: 9px 10.5px;
  background-color: #4073f616;
}

.form_btn {
  margin-top: 30px;
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 10px;
}

.submit_box {
  padding: 9px 20px;
  background-color: #ff3946;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #ff3946;
  transition: 0.3s;
  display: inline-block;
  font-size: 13px;
}
.submit_box:hover {
  background-color: #fff;
  color: #6e757a;
}

.footer {
  margin-top: 50px;
  color: #ffffff;
  background-color: #314584;
  padding: 42px 0px 28px 0px;
  text-align: center;
  font-weight: 600;
}

.footer_logo {
  font-size: 24px;
}

.footer_logo .border_bottom {
  border-bottom: 2px solid #ff3946;
  font-size: 24px;
}

.footer h5 {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #ff3946;
}

.footer_menu {
  margin-bottom: 25px;
}

.footer_menu li {
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
}
.footer_menu a {
  color: #ffffff;
  font-size: 14px;
}

.footer .rights {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  ul.footer_menu {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .more_btn {
    display: block;
    margin-bottom: 15px;
  }
  .same {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
  /* .menu {
    display: flex;
    position: initial;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
  } */
  /* .list li {
    margin: 0;
    padding: 0;
  } */
  .menu {
    display: block;
  }
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  ul > li:not(:last-child) {
    margin-right: 46px;
  }

  .content_container {
    margin: 0px 18px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .titles {
    margin: 50px 80px 0px 0px;
    text-align: left;
  }
  .titles h2 {
    font-size: 38px;
  }
  .titles p {
    font-size: 14px;
    line-height: 1.4;
    margin: 30px 0px;
  }

  .titles .btn {
    font-size: 14px;
  }

  .more_btn {
    margin-right: 15px;
    padding: 10px 20px;
  }

  .get_touch_btn {
    padding: 8px 0px;
  }

  .slides {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .slide {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  /* .slide:not(:last-child) {
    margin-top: 0px;
    margin-right: 10px;
  }
  .slide:last-child {
    margin-top: 0;
  } */
}

@media (min-width: 810px) {
  .get_touch_btn {
    padding: 8px 25px;
  }
}

@media (min-width: 1000px) {
  .right_nav {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .select {
    margin-right: 30px;
  }
  .button {
    display: flex;
    padding: 5px 20px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
  }
  .button .btn {
    font-size: 18px;
    font-weight: 600;
    color: #ff3946;
    background-color: #fff;
    border: 0;
    padding: 0;
  }

  .arrow {
    height: 30px;
    width: 3px;
    background: #ff3946;
    position: relative;
    display: inline-block;
    top: 3px;
    right: -10px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .arrow:before {
    content: "";
    width: 3px;
    background: #ff3946;
    height: 8px;
    position: absolute;
    top: -3px;
    transform: rotate(50deg);
    left: -3px;
  }
  .arrow:after {
    content: "";
    width: 3px;
    background: #ff3946;
    height: 8px;
    position: absolute;
    top: -3px;
    transform: rotate(-50deg);
    right: -3px;
  }

  .right {
    transform: rotate(90deg);
  }

  .titles h2 {
    font-size: 64px;
  }
  .titles p {
    font-size: 22px;
    line-height: 1.4;
    margin: 30px 0px;
  }

  .titles .btn {
    font-size: 20px;
  }

  .more_btn {
    margin-right: 15px;
    padding: 15px 30px;
  }
}
/* 
.hamburger_menu {
  cursor: pointer;
  position: absolute;
  right: 15px;
  display: none;
  z-index: 999;
  top: -15px;
  color: #314584;
}
.hamburger-menu span {
  background: #314584;
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger-menu .line-top.current {
  -webkit-transform: translateY(200%) rotate(135deg);
  transform: translateY(200%) rotate(135deg);
} */
/* .wrapper {
  max-width: 1920px;
}
.hero {
  margin-top: 60px;
}
.logo {
  color: rgb(49, 69, 132);
  font-weight: 600;
  font-size: 24px;
  margin-right: -175px;
  margin-left: 120px;
}
.logo .border_bottom {
  border-bottom: 6px solid #ff3946;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0px;
  line-height: 21px;
}
ul > li {
  list-style: none;
  color: rgb(49, 69, 132);
  font-weight: 600;
  font-size: 18px;
}
ul > li:not(:last-child) {
  margin-right: 46px;
}
.right_nav {
  margin-right: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.select {
  margin-right: 47px;
}
.select select {
  font-size: 18px;
  font-weight: 600;
  color: #314584;
  margin-right: 3px;
  border: 0;
  appearance: none;
}

.select::after {
  content: "";
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #314584 transparent transparent transparent;
  position: relative;
  top: 15px;
}
.button {
  display: flex;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
}
.button .btn {
  font-size: 18px;
  font-weight: 600;
  color: #ff3946;
  background-color: #fff;
  border: 0;
  padding: 0;
}

.arrow {
  height: 30px;
  width: 3px;
  background: #ff3946;
  position: relative;
  display: inline-block;
  top: 3px;
  right: -10px;
  margin-left: 20px;
  margin-right: 30px;
}

.arrow:before {
  content: "";
  width: 3px;
  background: #ff3946;
  height: 8px;
  position: absolute;
  top: -3px;
  transform: rotate(50deg);
  left: -3px;
}
.arrow:after {
  content: "";
  width: 3px;
  background: #ff3946;
  height: 8px;
  position: absolute;
  top: -3px;
  transform: rotate(-50deg);
  right: -3px;
}

.right {
  transform: rotate(90deg);
}
.title_group {
  margin-top: 266px;
  margin-left: 367px;
}
.title {
  width: 540px;
  height: 175px;
  color: #314584;
  font-size: 73px;
  font-weight: 600;
  line-height: 96px;
}
.subtitle {
  margin-top: 40px;
  width: 571px;
  height: 53px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #6e757a;
  font-weight: 400;
}
.more_button {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}
.more_button a {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 21px;
  color: #314584;
  font-weight: 600;
}
.more_button button {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 600;
  width: 200px;
  height: 55px;
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgba(255, 57, 70, 0.15);
  background-color: #ff3946;
  border: 0;
}
.illustration img {
  width: 680px;
  height: 690px;
} */
